<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap}">
<head>
    <meta charset="UTF-8">
    <title>垃圾分类查询</title>
</head>
<body>
<section layout:fragment="content">
    <div class="jumbotron">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col text-center">
                    <h1>垃圾分类查询</h1>
                </div>

                <!-- Search form -->
                <div class="col text-center">
                    <form role="form" th:action="@{/query}">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="输入关键字按下回车进行查询"
                                   aria-label="Search" th:name="value">
                            <span class="input-group-text amber lighten-3">
                                <i class="fas fa-search" aria-hidden="true"></i> </span>
                        </div>
                    </form>
                </div>
            </div>

            <br>
            <!-- Hotest search -->
            <div class="col" th:if="${keywords.size()}">
                <div class="card">
                    <div class="card-header">
                        热门搜索:
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-sm-5">
                            <div class="col-sm" th:each="keyword: ${keywords}">
                                <a th:href="@{/query(value=${keyword})}">[[${keyword}]]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-secondary" role="alert">
            上海市生活垃圾分类标准
        </div>
    </div>
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel" data->

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card bg-light">
                        <div class="container">
                            <img class="card-img-top w-auto h-auto" th:src="@{/images/t5.svg}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">可回收物是指：</h5>
                            <p class="card-text">废纸、废塑料、废玻璃制品、废金属、废织物等适宜回收，并且可以回收重复利用的生活废弃物。</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card bg-light">
                        <div class="container">
                            <img class="card-img-top w-auto h-auto" th:src="@{/images/t4.svg}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">有害垃圾是指：</h5>
                            <p class="card-text">废电池、费灯泡灯管、废药品、废油漆，以及有损人身体健康或者对环境直接或者间接会造成污染，有潜在危害的生活用品。</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card bg-light">
                        <div class="container">
                            <img class="card-img-top w-auto h-auto" th:src="@{/images/t3.svg}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">湿垃圾是指：</h5>
                            <p class="card-text">
                                易腐垃圾，如食材废弃料、剩饭剩菜、过期食品、水果皮、干果垃圾，废弃植物、中药残渣等生活废弃物品。如：剩菜剩饭、瓜皮果核、花卉绿植、过期食品等。</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card bg-light">
                        <div class="container">
                            <img class="card-img-top w-auto h-auto" th:src="@{/images/t2.svg}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">干垃圾是指：</h5>
                            <p class="card-text">就是生活中的其它垃圾，并且不属于“湿垃圾”、“有害垃圾”、“可回收垃圾”的垃圾分类，也叫其它垃圾。</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

            <br>
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>
        </div>
    </div>

</section>
</body>